
# BEGIN Privatization
# This .htaccess file ensures that other people cannot download your files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=03253844193810a1533b73d1a880007c
RewriteRule (.*) - [F]
</IfModule>

# END Privatization
