@import url(https://fonts.googleapis.com/css?family=Lato);
*{border:0;padding:0;margin:0;background:50% 50% no-repeat;text-decoration:none;color:inherit;box-sizing:border-box;font-weight:400}
:focus{outline:0}
b,b *,strong,strong *{font-weight:700}
ol,ul{list-style:none}
button,input,input:not([type]),input[type=color],input[type=text],input[type=time],input[type=url],input[type=week],input[type=button],input[type=reset],input[type=submit],input[type=date],input[type=datetime],input[type=datetime-local],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],pre,select,textarea{font:inherit}
@font-face{font-family:aileron;font-style:normal;font-weight:200;src:url(../fonts/aileron-ultra-light.eot?#iefix) format("embedded-opentype"),url(../fonts/aileron-ultra-light.woff) format("woff"),url(../fonts/aileron-ultra-light.ttf) format("truetype")}
.codepen body{margin:10px 0 0}
.codepen body textarea{display:none}
.mce-container textarea{display:inline-block!important}
.mce-content-body{font-family:Lato!important;font-size:14px;color:#626262;padding:0 25px 25px}
.mce-content-body h1,.mce-content-body h2,.mce-content-body h3,.mce-content-body h4,.mce-content-body h5,.mce-content-body h6{font-family:aileron;font-weight:200;line-height:1.4em;margin:25px 0 15px}
.mce-content-body *{background-position:initial}
.mce-content-body h1{font-size:34px}
.mce-content-body h2{font-size:30px}
.mce-content-body h3{font-size:26px}
.mce-content-body h4{font-size:22px}
.mce-content-body h5{font-size:18px}
.mce-content-body h6{font-size:14px}
.mce-content-body p{margin:25px 0;font-size:1.2em;}
.mce-content-body blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: .95em;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

.mce-content-body blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

.mce-content-body blockquote::after{
  /*Reset to make sure*/
  content: "";
}

.mce-content-body blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

.mce-content-body blockquote a:hover{
 color: #666;
}

.mce-content-body blockquote em{
  font-style: italic;
}
.mce-content-body ol,.mce-content-body ul{margin-left:15px;list-style-position:outside;margin-bottom:20px}
.mce-content-body ol li,.mce-content-body ul li{margin-left:10px;margin-bottom:10px;color:#626262}
.mce-content-body ul{list-style-type:disc}
.mce-content-body ol{list-style-type:decimal}
.mce-content-body a[href]{text-decoration:underline;color:#00e;}
.mce-content-body a:visited[href]{text-decoration:underline;color:#551a8b;}
.mce-content-body a:hover[href]{text-decoration:underline;color:#06e;}
.mce-content-body table{width:100%;border-spacing:0;border-collapse:separate;border:1px solid #aaa}
.mce-content-body table tr:nth-child(even){background:#FAFAFA}
.mce-content-body table caption,.mce-content-body table td,.mce-content-body table th{padding:15px 7px;font:inherit}
.mce-content-body table th{font-weight:400;color:#6E6E6E;background-position:100% 100%;background-size:2px 10px;background-repeat:no-repeat}
.mce-content-body table th:last-child{background:0 0}
.mce-content-body hr{border-top:2px solid #BBB}